################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App.All/ClassLibrary/obj
/App.All/ClassLibrary/bin/Debug/netstandard2.0
/App.All/Library.Service/obj
/App.All/WebApplication/bin/Debug/netcoreapp2.1
/App.All/WebApplication/obj/Debug/netcoreapp2.1
/App.All/WebApplication/obj
/App.All/.vs
/.vs
/App.All/Library.Service/bin/Debug/netstandard2.0
/App.All/MyDatabase/bin/Debug
/App.All/MyDatabase/obj/Debug
/App.All/WebApplication/WebApplication.csproj.user
/App.All/MyDatabase/MyDatabase.jfm
/App.All/MyDatabase/MyDatabase.sqlproj.user
/App.All/MyDatabase/MyDatabase.dbmdl
/App.All/CakeMyBlog/bin/Debug
/App.All/CakeMyBlog/obj/Debug
*.user
/App.All/CakeMyBlog.DataAccessLayer/bin/Debug/netstandard2.0
/App.All/CakeMyBlog.DataAccessLayer/obj/Debug/netstandard2.0
/App.All/CakeMyBlog.DataAccessLayer/obj
/App.All/CakeMyBlog.Service/bin/Debug/netstandard2.0
/App.All/CakeMyBlog.Service/obj
/App.All/Model.DataAccessLayer/bin/Debug/netstandard2.0
/App.All/Model.DataAccessLayer/obj
/App.All/SKH.HIS.Platform/bin/Debug/netstandard2.0
/App.All/SKH.HIS.Platform/obj
/App.All/CakeMyBlog
